<launch>
  <arg name="host" default="127.0.0.1" />
  <param name="/host_ip" type="string" value="$(arg host)" /> <!-- set global host_ip param -->

  <arg name="path" default="NH_auto_path_coords.pickle" />
  <param name="/path_file" type="string" value="$(arg path)" /> <!-- set path to vehicle's path file -->

  <arg name="log" default="true" />

   <!-- Making central control required results in ROS shutting down after the entire path has been navigated.
      This is needed for automated testing. -->
  <node name="central_control" pkg="central_control" type="central_control.py" />
  <node name="lane_keep_assist" pkg="lane_keep_assist" type="send_lane.py" />
  <node name="object_detector" pkg="sign_car_recognition" type="object_detection.py" />
  <node name="stop_sign_detector" pkg="sign_car_recognition" type="stop_sign_detection.py" />
  <node name="object_detect" pkg="lidar_object_recognition_2" type="new_lidar_object_detect.py"/>

  <node name="cruise_control" pkg="cruise_control" type="cruise_control.py" />
  <node name="speedometer" pkg="sensors" type="speedometer.py" />

  <node name="navigation" pkg="mapping_navigation" type="navigation.py" />

  <node name="lidar" pkg="sensors" type="lidar.py" />
  <node name="car_image_raw" pkg="sensors" type="car_image_raw.py" />
  <node name="car_pose" pkg="sensors" type="car_pose.py" />
  <node name="segmented_image" pkg="sensors" type="segmented_image.py" />
  <node name="fast_camera" pkg="sensors" type="fast_camera.py" />
  <node name="logging" pkg="sensors" type="vehicle_logging.py" if="$(arg log)" /> <!-- Launch logging node if flag is set -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rviz)/rviz/config_file.rviz" />
</launch>
